<a href="https://colab.research.google.com/github/Grundmane/MachineLearningCoursera/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:


1.   Python
2.   Julia
3.   Java

**Objectives:**

- List popular languages for Data Science
- Explain the basics of machine learning
- Demonstrate data cleaning and preprocessing techniques
- Introduce common libraries used in Data Science
- Showcase data visualization methods

Some of the commonly used libraries used by Data Scientists include:


*   Pandas
*   NumPy
*   SciKit-Learn

| Data Science Tools      |
| ----------- |
| RStudio      |
| Apache Spark   |
| TensorFlow   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [4]:
 #This will convert 200 minutes to hours by diving by 60
 minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author

Veronika